<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173345835070-jjro45c7p7qfrbvbba6n2tgm25g9fl9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173345835070-jjro45c7p7qfrbvbba6n2tgm25g9fl9e</string>
	<key>API_KEY</key>
	<string>AIzaSyCU2noYTjlbqtwVffF1D7FgWBME1d1KkS8</string>
	<key>GCM_SENDER_ID</key>
	<string>173345835070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharelearnteach.app</string>
	<key>PROJECT_ID</key>
	<string>from-home-1552036641684</string>
	<key>STORAGE_BUCKET</key>
	<string>from-home-1552036641684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173345835070:ios:d738543071627e8fa7296f</string>
	<key>DATABASE_URL</key>
	<string>https://from-home-1552036641684.firebaseio.com</string>
</dict>
</plist>